<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10" id="registerForm">
            <div class="panel panel-primary">
                <div class="panel-heading"><h2>{{translateModel.register.header}}</h2></div>
                <div class="panel-body">
                    <div class="alert alert-info alert-dismissable">
                        <a class="close" data-dismiss="alert" aria-label="close">×</a>
                        <strong>{{translateModel.register.info}}</strong> {{translateModel.register.infoMes}}
                    </div>
                    <form name="Register" ng-submit="register()">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="name">{{translateModel.label.name}}</label>
                            <input type="text" class="form-control" id="name" name="name" required pattern="[a-zA-Zа-яА-я]{3,20}" ng-model="name" placeholder="{{translateModel.input.name}}">
                            <span class="help-block" ng-show="!Register.name.$valid && Register.name.$dirty">{{translateModel.message.error.name}}</span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="surname">{{translateModel.label.surname}}</label>
                            <input type="text" class="form-control" id="surname" name="surname" required pattern="[a-zA-Zа-яА-я]{3,20}" ng-model="surname" placeholder="{{translateModel.input.surname}}">
                            <span class="help-block" ng-show="Register.surname.$invalid && Register.surname.$dirty">{{translateModel.message.error.surname}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="calendar">{{translateModel.label.birthday}}</label>
                        </div>
                        <div class="form-group col-sm-3">
                            <input type="date" class="form-control" id="calendar" name="birthday" required ng-model="birthday" placeholder="yyyy-MM-dd"
                                   value="1997-06-01" min="1940-01-01" max="1998-01-01">
                        </div>
                        <div class="form-group col-sm-9">
                            <span class="help-block" ng-show="!Register.birthday.$valid && Register.birthday.$dirty">{{translateModel.message.error.birthday}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="required">{{translateModel.label.sex.sex}}</label>
                            <div>
                                <label class="radio-inline"><input type="radio" name="sex" ng-model="sex" value="MALE" checked="">{{translateModel.label.sex.male}}</label>
                                <label class="radio-inline"><input type="radio" name="sex" ng-model="sex" value="FEMALE">{{translateModel.label.sex.female}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="username">{{translateModel.label.username}}</label>
                        <input type="text" class="form-control" id="username" name="username" required pattern="[a-zA-Z0-9]{3,20}" ng-model="username" placeholder="{{translateModel.input.username}}">
                        <span class="help-block" ng-show="Register.username.$invalid && Register.username.$dirty">{{translateModel.message.error.username}}</span>
                    </div>
                    <div class="form-group">
                        <label for="email">{{translateModel.label.email}}</label>
                        <input type="email" class="form-control" id="email" name="email" required ng-model="email" placeholder="{{translateModel.input.email}}">
                        <span class="help-block" ng-show="Register.email.$invalid && Register.email.$dirty">{{translateModel.message.error.email}}</span>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="pwd">{{translateModel.label.password}}</label>
                            <input type="password" class="form-control" id="pwd" name="password" required pattern="[a-zA-Z0-9]{3,20}" ng-model="password" placeholder="{{translateModel.input.password}}">
                            <span class="help-block" ng-show="Register.password.$invalid && Register.password.$dirty">{{translateModel.message.error.password}}</span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="repeatPassword">{{translateModel.label.repeat}}</label>
                            <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" required pattern="[a-zA-Z0-9]{3,20}" ng-model="repeatPassword" placeholder="{{translateModel.input.repeat}}">
                            <span class="help-block" ng-show="Register.repeatPassword.$invalid && Register.repeatPassword.$dirty">{{translateModel.message.error.repeat}}</span>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block-xs submit" ng-disabled="Register.$invalid">{{translateModel.button.register}}</button>
                    <hr>
                    <div class="footnote">
                        {{translateModel.label.serAgr}} <a href="#">{{translateModel.label.agreement}}</a>.
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>