<ul class="nav nav-pills nav-justified">
    <li class="site-menu" ><a data-toggle="pill" href="#/cabinet">{{translateModel.menu.cabinet}}</a></li>
    <li class="site-menu" ><a data-toggle="pill" href="#/cabinet/messages">{{translateModel.menu.messages}}</a></li>
    <li class="site-menu" ng-show="!userInfo.admin"><a data-toggle="pill" href="#/cabinet/games">{{translateModel.menu.games}}</a></li>
    <li class="site-menu" ng-show="!userInfo.admin"><a data-toggle="pill" href="#/cabinet/transfers">{{translateModel.menu.transfers}}</a></li>
</ul>